body {
  background-color: lightskyblue;
}

h1 {

    color: navy;
    margin-left: 10px;
}

h1 {
    border: 1px solid black;
    outline-style: solid;
}
 h2 {
     border: 1px solid black;
     outline-style: solid;
 }
 h3 {
    border: 1px solid black;
    outline-style: solid;
}
 h4 {
    border: 1px solid black;
    outline-style: solid;
}